<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Вопросы с тегом <%= @tag.name %></h1>
  </div>
</div>

<div>
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.uniq.each do |question| %>
        <%= link_to "вопрос для: @#{question.user.username}", user_url(question.author) %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
